input{
    width: 150px;
    margin: 0px;
border-style:inset;
border-radius: 5px;

border-width: 2px 2px 2px 5px;
border-color:rgb(12, 238, 68);
}
ul{
    
    padding: 0;
    line-height: 36px;
}
li{
    
float: left;
padding:0px 20px;
border: 1px solid white;
    list-style: none;
    height: 36px;
    background-color: rgb(219, 216, 216);
}
th{
    background-color: rgb(238, 192, 106);
}
select{
    width: 160px;
    margin: 0px;
border-style:inset;
border-radius: 5px;

border-width: 2px 2px 2px 5px;
border-color:rgb(12, 238, 68);
}
a{

    display: block;
    padding: 0px 0px;
    color: black;
    text-decoration: none;
}